<%= form_for @user, html: { multipart: true } do |form| %>
  <div class="form-group">
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= form.label :first_name %>
  <%= form.text_field :first_name, class: 'form-control' %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name, class: 'form-control' %>
  
  <%= form.label :email %>
  <%= form.text_field :email, class: 'form-control' %>

  <%= form.label :role %>
  <%= form.select(:role, Role.all.collect {|u| [u.name, u.id]}, {}, {class: "form-control"})%>

  <fieldset>
    <legend>Images:</legend>
    <%= form.fields_for :images do |images_field| %>
      <%= render "image_fields", f: images_field %> 

    <% end %>
    <%= link_to_add_fields "Add Images", form, :images %>
  </fieldset>

  <fieldset>
    <legend>Images:</legend>
    <%= form.fields_for :user_meta_infos do |meta_info| %>
      <%= render "user_meta_info_fields", f: meta_info %> 

    <% end %>
    <%= link_to_add_fields "Add Meta Info", form, :user_meta_infos %>
  </fieldset>

  <%= form.submit 'Submit', class: 'btn btn-success'  %>
  
<% end %>
