<%# app/views/people/_image_fields.html.erb %>
<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <div>
	  <%= f.label :avatar %>
	  <%= f.file_field :avatar,:multiple => true,name: "images_attributes[image][]" %>
	</div>
    <div>
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>