<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <div>
        <%= f.label :meta_key %>
        <%= f.text_field :meta_key, class: 'form-control' %>
    </div>
    <div>
        <%= f.label :meta_value %>
        <%= f.text_field :meta_value, class: 'form-control' %>
    </div>
    <div>
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>