<%= form_with(model: role, local: true) do |form| %>
  <div class="form-group">
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  
    <%= form.label :status %>
    <%= form.check_box :status, class: 'form-control' %>
  
    <%= form.submit 'Submit', class: 'btn btn-success' %>
  </div>  
<% end %>
