<p id="notice"><%= notice %></p>

<h1>Roles</h1>

<%= form_tag update_multiple_roles_path, method: :patch do %>

<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= check_box_tag "role_ids[]", role.id, false, class: 'selectable' %></td>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td><%= role.status %></td>
        <td><%= link_to 'Show', role %>
        <%= link_to 'Edit', edit_role_path(role) %>
        <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Update selected", :class => 'btn btn-primary btn-xs' %>
<% end %>
<br>

<%= link_to 'New Role', new_role_path %>
